.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  line-height: 60px;
  font-size: 13px;
  text-align: center;
  background-color: #fff;
  border-top: 1px solid #e6e6e6;
  letter-spacing: .5px;
  z-index: 200;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  color: #888;
  height: 60px;
  @media(max-width: 767px){
    display: none;
   }
  .list-inline {
  
    li {
      display: inline-block;
      padding-left: 5px;
      padding-right: 5px;
    }
  }
  
.footer_sites {
  margin: 0;
  display: inline-block;
  vertical-align: middle;
}

.footer_sites_dropdown {
  float: left;
  position: relative;
}

.footer_sites_current {
  position: relative;
  line-height: 30px;
  overflow: hidden;
  white-space: nowrap;
  background: #fff;
  border-radius: 3px;
  width: 34px;
  height: 13px;
  border: none;
}

.footer_sites_flag {
  background: url(../img/flags@2x.png) no-repeat 0 0;
  background-size: 198px 35px;
  width: 16px;
  height: 13px;
  position: absolute;
  top: 0;
  left: 3px;
  &.en-US {
    background-position: -131px -1px;
  }

  &.en-GB {
    background-position: -79px -22px;
  }

  &.en-AU {
    background-position: -79px -1px;
  }

  &.de-DE {
    background-position: -53px -1px;
  }

  &.fr-FR {
    background-position: -27px -22px;
  }

  &.ru-RU {
    background-position: -105px -1px;
  }

  &.ja-JP {
    background-position: -105px -22px;
  }

  &.it-IT {
    background-position: -1px -22px;
  }

  &.es-ES {
    background-position: -53px -22px;
  }

  &.da-DK {
    background-position: -27px -1px;
  }

  &.sv-SE {
    background-position: -1px -1px;
  }

  &.en-IE {
    background-position: -182px 0;
  }

  &.en-CA {
    background-position: -182px -22px;
  }

  &.en-SG {
    background-position: -157px -1px;
  }

  &.en-NZ {
    background-position: -157px -22px;
  }

  &.en-IN {
    background-position: -131px -22px;
  }
}

.footer_sites_currentName {
  margin: 0 30px;
  display: none;
}

.footer_sites_downarrow {
  position: absolute;
  height: 0;
  width: 0;
  border: 5px solid transparent;
  border-top-color: #666;
  display: inline-block;
  top: 3px;
  right: 0;
}

.sr-visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.footer_sites_select {
  width: 34px;
  position: absolute;
  height: 100%;
  border: 1px solid #ccc;
  opacity: 0 !important;
  top: 0;
  left: 0;
}

.compact_footer_item {
  &:before {
    content: "|";
    padding: 0 17px;
    color: #888;
    @media(max-width: 767px){
     display: none;
    }
  }

  a {
    color: #888;

    &:hover {
      color: #222;
      text-decoration: underline !important;
    }
  }
  button {
    -webkit-box-align: center;
    align-items: center;
    appearance: none;
    border: none;
    cursor: pointer;
    font-family: inherit;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    -webkit-tap-highlight-color: transparent;
    display: inline-flex;
    position: relative;
    width: auto;
    white-space: nowrap;
    transition: all 75ms ease-in-out 0s;
    padding: 8px 16px;
    font-size: 16px;
    line-height: 24px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(223, 218, 206) 0px 0px 0px 1px inset;
    border-radius: 4px;
    box-sizing: border-box;
    margin: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #888;
    font-size: 12px;
    outline: none;
    @media(max-width: 767px){
      padding: 0;
    }
    &:after {
      margin-left: 8px;
    }
  }

  .dropdown-menu {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 20px;
    border: none;
    border-radius: unset;
    padding: 8px 0px;

    li {
      padding: 0;
      display: block;
      line-height: 1;

      a {
        text-decoration: none;
        -webkit-tap-highlight-color: transparent;
        display: block;
        position: relative;
        width: 100%;
        white-space: nowrap;
        transition: all 75ms ease-in-out 0s;
        line-height: 24px;
        background-color: transparent;
        color: rgb(34, 34, 34);
        margin: 0px;
        text-align: left;
        padding: 2px 12px;
        border-radius: 0px;
        font-size: 12px;
        font-weight: normal;
        display: block;

        &:hover {
          color: rgb(34, 34, 34);
          background-color: rgb(240, 238, 232);
          text-decoration: none !important;
        }
      }
    }
  }
}

}
.scroll-pagination {
  position: fixed;
  right: 4%;
  display: none;
  align-items: center;
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  background-color: #fff;
  border-radius: 24px;
  height: 120px;
  width: 48px;
  z-index: 1000;
  bottom: 84px;
  flex-direction: column;
  &.fixed{
    display: flex;
  }

  button {
    -webkit-box-align: center;
    align-items: center;
    appearance: none;
    border: none;
    cursor: pointer;
    font-family: inherit;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    -webkit-tap-highlight-color: transparent;
    display: inline-flex;
    position: relative;
    width: auto;
    white-space: nowrap;
    transition: all 75ms ease-in-out 0s;
    background-color: transparent;
    line-height: 24px;
    box-sizing: border-box;
    margin: 0px;
    border-radius: 50%;
    font-size: 16px;
    padding: 16px;
    color: rgb(171, 171, 171);
    outline: none;

    svg {
      box-sizing: border-box;
      width: 16px;
      height: 16px;
      color: #222;
      display: inline-block;
      vertical-align: middle;
      flex-shrink: 0;
      backface-visibility: hidden;
      margin: 0px;
    }
  }
}
