.header {
  height: 76px;
  @media(max-width: 767px){
    height: 48px;
  }
  .header_top {
    position: fixed;
    top: 0;
    z-index: 1499;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background-color: #fff;
    box-shadow: 0 2px 12px rgba(0,0,0,.1);
    width: 100%;
    height: 76px;
    @media(max-width: 767px){
      height: 48px;
    }
    .container {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
    }
  }
  .menu_mb_btn{
    display: none;
    @media(max-width: 767px){
      display: inline-flex;
      margin-left: -16px;
    }
    &.open{
      .icon-menu:before {
          content: "\e922";
      }
    }
    button {
      color: #333;
      padding: 14px;
      background: transparent;
      border: none;
      font-size: 22px;
      line-height: 1;
      outline: none;
    }
  }
  .logo {
    display: inline-block;
    margin: 0 8px 0 -8px;
  }
  
  .header_menu {
    display: inline-flex;
    margin-right: 8px;
    @media(max-width: 767px){
      display: none;
    }
    ul {
      display: inline-flex;
  
      li a {
        font-size: 18px;
        padding: 4px 12px;
        border-radius: 53px;
        font-weight: 600;
        line-height: 24px;
        color: #222;
        text-decoration: none;
  
        &:hover {
          background-color: #f4f4f4;
          color: #222;
        }
      }
    }
  }
  .search_mb{
    display: none;
    @media(max-width: 767px){
      display: inline-flex;
    }
     button {
      background: rgba(0, 0, 0, 0);
      border: none;
      margin: 0;
      padding: 8px;
      display: inline-block;
      vertical-align: middle;
      height: unset;
      border-radius: 50%;
      color: #222;
      font-size: 18px;
      line-height: 26px;
      text-align: center;
      width: 42px;
      &:focus{
        outline: 1px dotted #f0eee8 !important;
        background-color: #f0eee8 !important;
      }
   }
  }
  .header_search {
    display: inline-flex;
    &.active form {
      display: block;
      position: absolute;
      top: 100%;
      right: 0;
      input {
          border-radius: unset;
      }
    }
    input {
      font-size: 18px;
      padding: 2.7px 10px 2.7px 36px;
      background-color: #fbfbf9;
      border: 1px solid #dfdace;
      border-radius: 200px;
      line-height: 20px;
      color: #333;
      height: 40px;
      -webkit-appearance: none;
      box-shadow: unset;
      outline: none;
      &:hover{
        border-color: #a39e8f;
      }
      &:focus{
        border-color: #222;
      }
    }
  
    button {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      outline: none;
      border: none;
      font-size: 16px;
      background: transparent;
      z-index: 221;
      color: #888;
      padding: 12px;
      line-height: 16px;
      outline-offset: -4px;
      border-radius: 50%;
    }
  
    form {
      position: relative;
      @media(max-width: 767px){
        display: none;
      }
    }
  }
  .header_my_inline {
    display: inline-flex;
    white-space: nowrap;
    margin-left: auto;
    align-items: center;
  }
  
  .sale {
    display: inline-block;
    margin-left: 16px;
    @media(max-width: 767px){
      margin-left: 0;
    }
    a {
      border-radius: 73px;
      padding: 0 12px;
      line-height: 32px;
      color: #222;
      position: relative;
      font-weight: 700;
      font-size: 18px;
      display: inline-flex;
      align-items: center;
      @media(max-width: 767px){
        font-size: 0;
      }
    }
  }
  
  .header_my_inline i {
    font-size: 18px;
    vertical-align: middle;
  }
  
  .sale a i {
    margin-right: 6px;
  }
  
  .cart {
    position: relative;
    .cart_body {
      position: absolute;
      background: #fff;
      border-radius: 3px;
      z-index: 100;
      top: calc(100% + 8px);
      right: -30px;
      width: 250px;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.24);
      display: none;
      .cart_empty {
        padding: 15px;
        text-align: center;
        white-space: nowrap;
      }
      
    }
    > a {
      padding: 8px;
      display: inline-block;
      vertical-align: middle;
      height: unset;
      border-radius: 50%;
      color: #222;
      cursor: pointer;
    
      > i {
        font-size: 18px;
        line-height: 26px;
        min-width: 26px;
        text-align: left;
      }
    
      .conut {
        position: absolute;
        top: 7px;
        left: 21px;
        background: #aaa;
        border-radius: 50%;
        width: 17px;
        height: 17px;
        line-height: 17px;
        font-size: 12px;
        color: #fff;
        text-align: center;
        font-weight: bold;
      }
    }
    &:hover {
     > a{
      > i {
        color: #727169;
      }
     }
      .cart_body {
        display: block;
      }
  
      &:before, &:after {
        content: "";
        position: absolute;
        height: 50px;
        width: 100%;
        top: 50%;
        -webkit-transform-origin: top;
        -ms-transform-origin: top;
        transform-origin: top;
        background-color: transparent;
        z-index: 110;
      }
  
      &::before {
        left: 0;
        -webkit-transform: skew(-45deg);
        -ms-transform: skew(-45deg);
        transform: skew(-45deg);
      }
  
      &::after {
        right: 0;
        -webkit-transform: skew(45deg);
        -ms-transform: skew(45deg);
        transform: skew(45deg);
      }
    }
  }
  

  .login {
    display: inline-block;
    zoom: 1;
  
    > a {
      padding: 8px;
      margin: 14px 0;
      border-radius: 4px;
      color: #222;
      font-weight: bold;
      font-size: 18px;
      display: inline-flex;
      align-items: center;
      @media(max-width: 767px){
        font-size: 0;
        margin: 0;
      }
      &:hover{
        color: #333;
        text-decoration: underline !important;
      }
  
      > i {
        border: 0;
        padding: 5px 5px 5px 6px;
        font-size: 18px !important;
        background: unset;
        padding-left: 0;
        padding-right: 0;
        color: #333 !important;
        width: unset;
        margin-right: 8px;
      }
    }
  }
  
  .join > a {
    color: #222;
    border: 1px solid #222;
    border-radius: 4px;
    margin-left: 16px;
    padding: 5px 10px;
    line-height: 23px;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    @media(max-width: 767px){
      font-size: 0;
      margin-left: 0;
    }
    > i {
      font-size: 16px;
      vertical-align: middle;
      margin-right: 6px;
    }
  
    &:hover {
      background-color: #f0eee8;
    }
  }
  
  .sale a:hover {
    background-color: #f0eee8;
  }
  
  .header_menu_pointer {
    position: absolute;
    top: -22px;
    right: 65px;
  
    &:after, &:before {
      position: absolute;
      display: block;
      content: " ";
      width: 0;
      height: 0;
      border: 11px solid transparent;
      border-bottom-color: #e6e6e6;
    }
  
    &:after {
      border-bottom-color: #fff;
      border-width: 10px;
      left: 1px;
      top: 2px;
    }
  }
  
}

.header_menu_mb {
  position: fixed;
  top: 48px;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1498;
  display: none;
  &.active {
    display: block;
  }
  .mb_hamburger {
    background: #fff;
    width: 82%;
    height: 100%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }

  .sidebar-nav-container > li {
    position: relative;
    border-bottom: 1px solid #e6e6e6;

    > a {
      display: block;
      line-height: 20px;
      padding: 12px 20px;
      font-size: 16px;

      > span {
        margin-right: 9px;
      }
    }
  }
}
