.projeck-category {
  margin-right: calc(var(--bs-gutter-x) / -2);
  margin-left: calc(var(--bs-gutter-x) / -2);
  --bs-gutter-x:8px;

  .item > a {
    -webkit-transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
    box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.12);
    border-radius: 3px;
    background: #fff;
    display: block;

    &:hover {
      -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.24);
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.24);
      text-decoration: underline !important;
    }

    > {
      .img {
        height: calc(136px - 3.5rem);
        overflow: hidden;
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .title {
        height: 56px;
        font-size: 14px;
        border-top: 1px solid #e6e6e6;
        padding: 8px;
        font-weight: 700;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        line-height: 1.25rem;
      }
    }
  }

  .slick-track [class*=col] {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
.filter-group {
  display: inline-block;
  margin-bottom: 16px;
  margin-right: 12px;
  line-height: 42px;

  button {
    border: 1px solid #ababab;
    color: #222;
    line-height: 50px;
    position: relative;
    vertical-align: middle;
    display: inline-block;
    padding: 0 16px 0 14px;
    border-radius: 3px;
    box-shadow: unset !important;

    &:hover, &:focus {
      background: #f8f6f2;
    }
  }

  .dropdown-menu {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 4px 8px 0px;
    border: 1px solid rgb(232, 229, 220);
    border-radius: 3px;
    min-width: 226px;
    max-height: 400px;
    padding: 0;
    li {
      padding: 8px 16px;
      display: flex;
      align-items: center;
      font-size: 14px;
      line-height: 23px;
      width: 100%;
      flex-wrap: wrap;
      cursor: pointer;
  
      &:hover {
        background-color: #f0f0f0;
      }
  
      input {
        width: 24px;
        height: 24px;
        border-color: #ccc !important;
        margin-right: 10px;
        cursor: pointer;
      }
  
      label {
        cursor: pointer;
      }
    }
  }
  .link__count {
    color: #8f8f8f;
    font-size: 12px;
}
.colorlist__link {
  width: 24px;
  height: 24px;
  vertical-align: middle;
  display: inline-block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #eee;
  margin-right: 2px;
}
  button {
    &:hover {
      border-color: #666;
    }

    &:focus {
      border-color: #222;
    }
  }
}

.resultset {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .refine-filters {
    .filter-group {
      button {
        border: none;
        font-weight: 700;
        color: #484848;
        padding: 4px 0 4px 8px;
        line-height: 21px;
      }
    
      line-height: 1;
      margin-bottom: 0;
      margin-right: 8px;
      margin-left: 16px;
    }
   
  }
  .refine-filters-right {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    .dropdown-menu {
      margin: 8px 0;
      min-width: 238px;
      background-color: #fff;
      border: 1px solid #e6e6e6;
      border-radius: 3px;
      z-index: 1000;
      -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.24);
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.24);
    
      li {
        &:hover {
          background-color: #f0eee8;
          color: #222;
        }
    
        text-decoration: none;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        display: block;
        line-height: 40px;
    
        button {
          background: none;
          border: none;
          cursor: pointer;
          outline: inherit;
          text-align: inherit;
          width: 100%;
          padding: 0 16px;
        }
      }
    }
    
  }
  
  .sort-by {
    > button {
      color: #484848;
      padding: 4px 0 4px 8px;
      border: none;
      background-color: transparent;
      border: none;
      margin: 0;
      outline: none;
      box-shadow: unset;
    }
  
    .label-text {
      font-weight: 700;
    }
  }
}
.tag-popular {
  padding: 16px 0 0;
  a {
    height: 36px;
    line-height: 36px;
    border-radius: 18px;
    padding: 0 16px;
    border: 1px solid #222;
    vertical-align: top;
    text-transform: capitalize;
    background: #e8e5dc;
    color: #222;
    display: inline-flex;
    align-items: center;

    &:hover {
      background: #f8f6f2;
      border-color: #a39e8f;
    }
  }

  .icon-close {
    margin-top: -1px;
    margin-left: 4px;
    font-size: 12px;
  }

}
.photo_result_list {
  width: 100%;
  display: grid;
  grid-auto-flow: dense;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 20px;
  margin-top: 24px;
  @media(max-width: 767px){
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 800px) {
  .photo_result_list {
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  }
}

@media (min-width: 1200px) {
  .photo_result_list {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}

.photo_result_item {
  position: relative;

  .photo_result_box {
    display: block;
    width: 100%;
    padding-top: 100%;
    margin-bottom: 8px;
    position: relative;
    overflow: hidden;
    background-color: #fff;
    border-radius: 4px;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: 1;
    }
  }

  .photo_result_actions {
    position: absolute;
    visibility: hidden;
    left: 50%;
    top: 50%;
    z-index: 3;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .photo_result_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    z-index: 2;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), color-stop(transparent), to(rgba(0, 0, 0, 0.4)));
    background: linear-gradient(rgba(0, 0, 0, 0.4), transparent, rgba(0, 0, 0, 0.4));
  }

  .photo_result_title {
    position: absolute;
    top: 12px;
    color: #fff;
    margin: 0 16px;
    font-size: 16px;
    font-weight: bold;
  }

  .photo_result_pro img {
    border-radius: 50%;
    margin-right: 4px;
  }

  .photo_result_name {
    font-size: 12px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    vertical-align: middle;
    font-weight: bold;
  }

  .photo_result_desc {
    color: #888;
    margin-top: 8px;
    margin-bottom: 22px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-height: 17px;
    overflow: hidden;
    word-break: break-word;
    -webkit-line-clamp: 2;
    height: 34px;
    font-size: 12px;
  }

  &:hover {
    .photo_result_overlay, .photo_result_actions {
      visibility: visible;
    }
  }

  button {
    line-height: 1.3333333;
    border-radius: 4px;
    font-weight: bold;
    color: #fff;
    background: #222;
    border: none;
    text-decoration: none;
    padding: 12px 16px;
    font-size: 24px;
    white-space: nowrap;
    outline: none !important;
    box-shadow: unset;

    &:hover {
      background-color: #727169;
    }
  }

  .photo_result_text {
    padding-left: 10px;
  }
}

.pagination-wrapper {
  padding: 32px 0;
}

.pagination-bar {
  padding: 48px 0;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .pagination-link-first {
    width: 3.5rem;
  }

  .pagination-link {
    vertical-align: top;
    float: none;
    zoom: 1;
    display: inline-block;
    position: relative;
    padding: 4px 12px;
    line-height: 1.42857143;
    text-decoration: none;
    color: #333;
    background-color: #fff;
    border-color: #ddd;
    border-style: solid;
    border-width: 1px 0;
    border-radius: 0;
    font-size: 14px;

    &:hover {
      background-color: #efefef;
    }
  }

  .pagination-link-selected {
    z-index: 2;
    color: #fff;
    border-color: #5b5b5b;
    background-color: #5b5b5b;
    cursor: default;
    pointer-events: none;
  }

  .pagination-link-next {
    color: #fff;
    background: #222;
    border: none;
    text-decoration: none;

    &:hover {
      color: #fff;
      background: #727169;
    }
  }

  .pagination-link {
    &:first-child {
      margin-left: 0;
      border-left-width: 1px;
      border-bottom-left-radius: 3px;
      border-top-left-radius: 3px;
    }

    &:last-child {
      border-bottom-right-radius: 3px;
      border-top-right-radius: 3px;
      border-right-width: 1px;
    }
  }
}
